
img {
  height: 400px;
}

h1{
  text-align:center; 
}

.gameLink {
  font-D:20px;

}

form{
    position:relative;
    top:-30vw;
}


.grid {
  display:grid;
  padding: 10px;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows:repeat(4,1fr);
  background-color:#484041;
  font-size:15px;
  margin-top: 200px;
  min-height:;
}
.row {
  grid-row:span 4;
}

  body{
      display: flex;
    min-height: 100px;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }
#about1{
  grid-row:span 4;
  
}
#space {
  grid-column:span 2;
}

button {

  background-color: #CB48B7; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
}

 h1 {
            background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
            -webkit-background-size: 300px;
            color: rgba(255, 255, 255, 0.1);
            -webkit-background-clip: text;
            -webkit-animation-name: shine;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            text-align: left;
            text-shadow: 2px 2px 10px violet;
            /*width: 500px;*/
            margin: auto;
            margin-top: 100px;
            text-align: center;
            margin: 20px 0 20px 0 text-decoration: none;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            color: white;
            font-family: 'Audiowide', ;
            -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
            -moz-animation: neon6 1.5s ease-in-out infinite alternate;
            animation: neon6 1.5s ease-in-out infinite alternate;
            font-size:40px;
        }
        
        @-webkit-keyframes shine {
            100% {
                background-position: top left;
            }
            100% {
                background-position: top right;
            }
        }
        
        body {
            background-color: black;
            font-family: 'Barlow', sans-serif;
            font-family: 'Crimson Text', serif;
            text-align: center;
        }
        #mylist {
            margin: auto;
            text-align: center;
            width: 200px;
        }
        
        p {
            color: lightblue;
        }
        
        @import url(https://fonts.googleapis.com/css?family=Audiowide);
         {
            margin: 0;
            padding: 0;
        }
        
        body {}
        
        #icomp-neon {
            width: 1000px;
            margin: auto;
            margin-top:80px;
          margin-bottom:50px;
        }
        
        #icomp-neon p {
            text-align: center;
            font-size: 7em;
            margin: 20px 0 20px 0;
        }
        
        #icomp-neon a {
            text-decoration: none;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }
        
        #icomp-neon p a {
            color: #BA01FF;
            font-family:'Work Sans', sans-serif;
        }
        
        #icomp-neon p a {
            -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
            -moz-animation: neon6 1.5s ease-in-out infinite alternate;
            animation: neon6 1.5s ease-in-out infinite alternate;
        }
        
        #icomp-neon p a {
            color: #ffffff;
        }
        
        @-webkit-keyframes neon6 {
            from {
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00b8ff, 0 0 10px #00b8ff, 0 0 10px #00b8ff, 0 0 60px #00b8ff, 0 0 80px #00b8ff;
            }
            to {
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00b8ff, 0 0 35px #00b8ff, 0 0 40px #00b8ff, 0 0 50px #00b8ff, 0 0 75px #00b8ff;
            }
        }
        
}

 h2 {
            background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
            -webkit-background-size: 300px;
            color: rgba(255, 255, 255, 0.1);
            -webkit-background-clip: text;
            -webkit-animation-name: shine;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            text-align: left;
            text-shadow: 2px 2px 10px violet;
            /*width: 500px;*/
            margin: auto;
            margin-top: 100px;
            text-align: center;
            margin: 20px 0 20px 0 text-decoration: none;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            color: white;
            font-family: 'Audiowide', ;
            -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
            -moz-animation: neon6 1.5s ease-in-out infinite alternate;
            animation: neon6 1.5s ease-in-out infinite alternate;
            font-size:22px;
        }
        
        @-webkit-keyframes shine {
            100% {
                background-position: top left;
            }
            100% {
                background-position: top right;
            }
        }
        
        body {
            background-color: black;
            font-family: 'Barlow', sans-serif;
            font-family: 'Crimson Text', serif;
            text-align: center;
        }
        #mylist {
            margin: auto;
            text-align: center;
            width: 200px;
        }
        
        p {
            color: lightblue;
        }
        
        @import url(https://fonts.googleapis.com/css?family=Audiowide);
         {
            margin: 0;
            padding: 0;
        }
        
        body {}
        
        #icomp-neon {
            width: 1000px;
            margin: auto;
            margin-top:80px;
          margin-bottom:80px;
        }
        
        #icomp-neon p {
            text-align: center;
            font-size: 7em;
            margin: 20px 0 20px 0;
        }
        
        #icomp-neon a {
            text-decoration: none;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }
        
        #icomp-neon p a {
            color: #BA01FF;
            font-family:'Work Sans', sans-serif;
        }
        
        #icomp-neon p a {
            -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
            -moz-animation: neon6 1.5s ease-in-out infinite alternate;
            animation: neon6 1.5s ease-in-out infinite alternate;
        }
        
        #icomp-neon p a {
            color: #ffffff;
        }
        
        @-webkit-keyframes neon6 {
            from {
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00b8ff, 0 0 10px #00b8ff, 0 0 10px #00b8ff, 0 0 60px #00b8ff, 0 0 80px #00b8ff;
            }
            to {
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00b8ff, 0 0 35px #00b8ff, 0 0 40px #00b8ff, 0 0 50px #00b8ff, 0 0 75px #00b8ff;
            }
        }
        

#goblins{
    height: 450px;
    width: 275px;
    margin-left:1000px;
    margin-top: 30px;
    
}

#escanor{
    height: 500px;
    width: 300px;
    margin-top: -450;
    margin-left: 150;
    
    
    
}

#explosion{
    height: 600px;
    width: 800;
    margin-top: -1500;

}

div {
  animation-delay: 20s;
}


