

<html>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200&display=swap" rel="stylesheet">
    <head>
       <link rel="stylesheet" href="../static/style.css" type="text/css" />
    </head>
    <Body>
        <h1>
            Welcome to Dungeons and Dragons! 
        </h1>
        <center>
            <form method = "post" action= "/Boss">
                <label for= "search">Name: </label>
                <input type="text" name= "character"/>
                <input type="submit" value= "Submit"/>
            </form>
        </center>
      
    </Body>
</html>